// colors

$color-1: #383838; // Mine Shaft
$color-2: rgb(20,64,104); // Highland
$color-3: #ffffff; // White
$color-4: #f8f8f8; // Alabaster

// fonts 

$primary-font: Verdana, Arial, Helvetica, sans-serif;
$secondary-font: Verdana, Arial, Helvetica, sans-serif;